@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic);

:root {
  --text-title: rgb(18, 20, 18);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Noto, Arial, serif;
  background-color: rgb(29, 185, 190);
  background-repeat: no-repeat;
  background-size: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: auto;
}

.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.header_inner {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.container {
  margin: 0px;
}

/**/
#content {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
}

.main {
  margin: 180px;
}
.area-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#area {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 34px;
  color: rgb(48, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-result-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal-window {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  background-color: rgb(63, 223, 223);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

#btn-close {
  width: 350px;
  height: 30px;
  background-color: rgb(29, 185, 190);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

/**/
.footer {
  height: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.footer-container {
  display: flex;
  align-items: center;
  color: var(--text-title);
  text-decoration: none;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}

.footer_rsschool,
.footer_github {
  text-decoration: none;
  color: var(--text-white);
}

.footer_github:hover,
.footer_rsschool:hover {
  color: #fff;
}
